{% extends 'base.html.twig' %}

{% block title %}BTC index{% endblock %}

{% block body %}
    <button>
<a href="addData">ADD DATA</a>
    </button>
 <html>
      <head>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
           <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
           <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
           <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
      </head>
      <body>
           <br /><br />
           <div class="container">
                <br />
                <div class="table-responsive">
                     <table id="employee_data" class="table table-striped table-bordered">
                          <thead>
                               <tr>
                                    <td>id</td>
                                    <td>currencyPair</td>
                                    <td>currencyRate</td>
                               </tr>
                          </thead>
                         {% for bts in btcs %}
                             <tr>
                                    <td>{{ bts.id }}</td>
                                    <td>{{ bts.currencyPair }}</td>
                                    <td>{{ bts.currencyRate }}</td>
                               </tr>
                         {% endfor %}
                     </table>
                </div>
           </div>
      </body>
 </html>
 <script>
 $(document).ready(function(){
      $('#employee_data').DataTable();
 });
 </script>
{#    <table id="table_id" class="display">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Id</th>#}
{#            <th>valute</th>#}
{#            <th>Course</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for btc in btcs %}#}
{#            <tr>#}
{#                <td>{{ btc.id }}</td>#}
{#                <td>{{ btc.valute }}</td>#}
{#                <td>{{ btc.course }}</td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="4">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{% endblock %}